@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.navbar {
	background-color: inherit;
	border-bottom: 0.08rem solid hsl(240, 2%, 23%);
	transition: border-bottom 0.5s ease-in;
}

.off-canvas-nav {
	background-color: inherit;
}

.off-canvas-nav.light {
	background-color: #fff;
}

.navbar.light {
	border-bottom: 0.08rem solid hsl(214, 9%, 84%);
}

.title {
	font-family: 'Merriweather', serif;
	color: white;
	transition: color 0.5s ease-in;
}

.title.light {
	color: black;
}
