.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.5em));
    grid-auto-rows: clamp(2.8vw, 7vh, 3.5rem);
    margin: 0 .25rem;
    gap: .25rem;
    justify-content: center;
    align-content: center;
}